body{
    padding: 0;
    margin: 0;
    background:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 2rem;
    color: aliceblue;
}

.section{
    text-align: center;
}

.btn{
    font-size: 5rem;
    border: none;
    background: rgb(255,255,255,.2);
    border-radius: 10px;
    padding: 15px;
    filter:drop-shadow();
    transition: .3s ease all;
    transition: filter .2s ease-in-out;
    cursor: pointer;

}

.btn:hover{
    filter:drop-shadow();
}

.emoji-name{
    font-weight:bold;
    color: darkblue;
    font-size: 3ex;
}